body {
    color: #333;
}
a {
    text-decoration: none;
    color: #1b98f8;
}
.login-form {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 500px;
    margin-bottom: 50px;
}
.message-form {
    margin: 5px;
}
/* LAYOUT CSS */
#layout {
    padding-left:150px; /* "left col (nav + list)" width */
    position: relative;
}

#nav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}
#nav {
    margin-left:-150px; /* "left col (nav + list)" width */
    width:150px;
    background: rgb(37, 42, 58);
    text-align: center;
    padding: 2em 0;
}


#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
    }

.chat-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
    .chat-name {
        margin: 0;
        text-transform: uppercase;
        color: #999;
    }
    .chat-message {
        font-size: 80%;
        margin: 0.4em 0;
    }

/* Email Content Styles */
.chat-content-header, .chat-content-body, .chat-content-footer {
    padding: 1em 2em;
}
    .chat-content-header {
        border-bottom: 1px solid #ddd;
    }

        .chat-content-title {
            margin: 0.5em 0 0;
        }
        .chat-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .chat-content-subtitle span {
                color: #999;
            }
    .chat-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .chat-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }


@media (max-width: 867px) {

    #list,
    #main {
        width: 100%;
    }
    #layout {
        padding-left: -150px;
    }
    #list {
        height: 33%;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }
}

@media (max-width: 480px) {
    #layout, #nav, #list {
        position: static;
        margin: 0;
        padding: 0;
    }
    #nav {
        width: 100%;
        height: 40px;
        position: relative;
    }
    #nav .nav-menu-button {
        display: block;
        top: 0.5em;
        right: 0.5em;
        position: absolute;
    }
    #nav.active {
        height: 80%;
    }
    .nav-inner {
        display: none;
    }
    #nav.active .nav-inner {
        display: block;
    }
    .chat-avatar {
        width: 40px;
        height: 40px;
    }
}
