<div class="pure-g-r content" id="layout">
    <div class="pure-u" id="nav">
        <div class="nav-inner">
            <div class="pure-menu pure-menu-open">
                <ul>
                    <!-- <li>
                        <a href="#"></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>

    <div class="pure-u-1" id="list">
        <!-- <div class="chat-item pure-g">
            <div class="pure-u-3-4">
                <h5 class="chat-name"></h5>
                <p class="chat-message"></p>
            </div>
        </div> -->
        <form class="pure-form pure-g message-form" name="formMessage">
            <input type="text" name='message' placeholder="Message" class="pure-input-1">
        </form>
    </div>
</div>
