<div class="pure-g-r content" id="layout">
    <div class="pure-u" id="nav">
        <div class="nav-inner">
            <div class="pure-menu pure-menu-open">
                <ul>
                    <li ng-repeat="user in users">
                        <a href="#">{{ user.pseudo }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pure-u-1" id="list">
        <div class="chat-item pure-g"
            ng-repeat="message in messages">
            <message msg="message"></message>
        </div>
        <form class="pure-form pure-g message-form" name="formMessage"
            ng-submit="send(formMessage)">
            <input type="text" name='message' placeholder="Message" class="pure-input-1"
                ng-model='message' required>
        </form>
    </div>
</div>
